
<div class="container">
  <h1 class="text-center">Booking Approved!</h1>
  <table>
    <tr>
      <th>Plant</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
    <tr>
      <td><%= @booking.plant.title %></td>
      <td><%= @booking.start_date %></td>
      <td><%= @booking.end_date %></td>
    </tr>
  </table>
</div>
