
<div class="footer container-fluid">
  <div class="footer-flex">
    <div class="footer-item">
      <ul>
      <h6>FAQs</h6>
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">Terms of service</a>
        </li>
        <li>
          <a href="#">Talk to us</a>
        </li>
      </ul>
    </div>
    <div class="footer-item">

      <ul>
      <h6>About</h6>
        <li>
          <a href="#">Company</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="#">Careers</a>
        </li>
      </ul>
    </div>
    <div class="footer-item contact">
      <h6>Contact</h6>
      <p>(03) 9999-9999</p>
      <p>123@info.com</p>
      <p>123 Plant Rd, Garden City, 1100</p>
    </div>
  </div>

  <div class="links-social">
    <a href="#">
      <i class="fab fa-fw fa-facebook"></i>
    </a>
    <a href="#">
      <i class="fab fa-fw fa-instagram"></i>
    </a>
    <a href="#">
      <i class="fab fa-fw fa-twitter"></i>
    </a>
  </div>

</div>
