
<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<div class="container text-center">

<h1 class="text-center mt-5">Rent a Plant</h1>
<h3 class="text-center">Find the perfect plant for you.</h3>
<%= link_to "Browse all Plants", plants_path, class: 'btn btn-primary mt-5'%>

</div>
