
.footer {
  background-color: rgb(207, 207, 207);
  width: 100vw;
}

.footer-flex {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

@media(max-width: 992px) {
  .footer-flex {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
}

.footer-item ul {
  list-style-type: none;

}

.footer-item a {
  color: rgb(76, 76, 76);
  text-decoration: none;
}

.footer-item a:hover {
  color: rgb(50, 50, 50);
}

.links-social {
  text-align: center;
  padding-bottom: 40px;
}

.links-social a {
  border: 1px solid rgb(118, 118, 118);
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  margin: 24px;
  color: rgb(118, 118, 118);
}

.links-social a:hover {
  color: rgb(50, 50, 50);
}

.contact p {
  color: rgb(76, 76, 76);
}
